@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

.classBody{
	/* width:100vw; */
	display: flex;
  flex-direction: column;
	/* flex-direction: column; */
	align-items: center;
	min-height:50vh
  
}

.mygroups {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.mygroupscontainer {
  display: flex;
  justify-content: space-around;
  align-items: end;
  flex-wrap: wrap;
  width:1100px;
  border-radius: 100px;
  background-color: #f1faee;
}


.NewGroup {
  text-align: center;
  margin-top:5vh;
  margin-bottom: 5vh;
}


.name{
  font-family: 'Titillium Web', cursive;
}

/* to have things in good shape */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* group rendering */

@media screen and (max-width: 900px) {
.classBody{
flex-direction: column;
align-items: center;
}
.mygroup{
	width:100%
}
}
