.myprofile{
    min-width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color:#F0E2E7;
    padding:30px;
    border-radius: 30px;
}

.myprofile button{
    margin:8px
}

.imgUploadDiv{
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 8px;
}

.imgUploadDiv img{
    margin-bottom: 8px;
}
