*{
  padding:0;
  margin:0
}



.Signup button{
margin-top:5vh;
}

.Signup{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    background-color: #F0E2E7;
    padding:50px;
    margin:30px;
    border-radius: 30px;
    min-width:25vw;

}

.signupBody{
    display: flex;
    /* justify-content: space-between  ; */
    align-items: start
}

.signupContainer{
    display: flex;
    align-items: center;
    
}

.signupBox{
    display:flex;
    /* flex:1; */
    flex-direction:column;
    min-width:25vw; 
    padding:20px;
    margin:50px;
    border-bottom:2px solid black

}
.signupTitle{
    display:flex;
    /* padding: 50px 50px 50px 90px; */
    margin-right:1vw;

    margin-bottom: 5vh;
    margin-left:1vw;
}

.signupTitle h1{
  position: relative;
  font-family: 'Climate Crisis', cursive;
  /* margin-bottom: 50px; */
  text-align: center;
  font-size: 6em;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  animation: color-animation 5s linear infinite;
}

  @media screen and (max-width: 800px) {
    .signupContainer{
    flex-direction: column;
    }
}

.jollyanimation1{
    --color-1: #ff5722;
    --color-2: #f9a825;
     --color-3:#eeff41;
   }
   
   .jollyanimation2{
     --color-1: #43a047;
     --color-2: #26c6da;
      --color-3:#ef3550;
    }
   
    .jollyanimation3{
     --color-1: #7e57c2;
     --color-2: #f48fb1;
      --color-3:#2196f3
    }
   
   @keyframes color-animation {
     0% {
       color: var(--color-1)
     }
     32% {
       color: var(--color-2);
     }
     33% {
       color: var(--color-3)
     }
     50% {
       color: var(--color-1)  }
     60% {
       color: var(--color-2);
     }
     70% {
       color: var(--color-3)
     }
     80% {
       color: var(--color-1)
     }
     90% {
       color: var(--color-2);
     }
     100%{
       color: var(--color-3)
     }
   }
