.offcanvas2{
display: flex;
padding:10px;
width:1000px;
justify-content: end;

}
.event {
  padding:10px 10px 0 10px;
  min-height: 270px;
  margin-top: 5vh;
  background-color: #F0E2E7;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}

.futureevent{
  display: flex;
  align-items: stretch;
  background-color: #f7f7f7;
  margin:20px;
  border-radius: 20px;
  padding: 15px;
  width:350px;
  z-index:0;
}

.futureevent li{
  width: max-content;
}
.futureevent img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.futureeventDelete{
  z-index: 20;
  position: relative;
  top:32px;
}

.event button{
  margin-top: 20px;
}

.eventcontainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


.yourGroup{
  background-color: #F0E2E7;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  width:1000px
}

.delete{
  font-size: 180%;
  width: min-content;
  position: relative;
  opacity: 20%;
  transition: 1.5s;
  z-index: 50;
  left: 260px;
  bottom:150px;
}

.card{
z-index:0
}

.delete:hover{
  opacity: 100%;
}

.winnerBanner,
.losingBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
  font-size: 150%;
}

.winnerBanner{
  background-color: #d62828
}

.losingBanner{
  background-color: #2196f3
}

.bottomBanner {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-bottom: 5vh;
  flex-wrap: wrap;
  margin-left:1vw;
}

.addfriendbtn {
  margin-right: 50px;
}

.addfriend {
  background-color: #f1faee;
}

.searchFriends {
  padding: 10px;
  background-color: #ffd166;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.searchEmail {
  padding: 10px;
  background-color: #ffd166;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.searchEmail p{
  text-align: left;
}

.currentTeam {
  padding: 10px;
  background-color: #BCF8EC;
  border-radius: 15px;
}

.currentTeam img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.currentUsers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.currentUsers img{
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.backtogroups {
  margin-left: 3vw;

}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}
.cardbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.regularcard {
  width: 18rem;
  margin: 10px;
  align-items: stretch;
}

.emailContent {
  width: 15vw;
  min-height: 40vh;
}

.team {
  padding:10px 10px 0 10px;
  min-height: 200px;
  margin-top: 5vh;
  background-color: #BCF8EC;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.deletebox {
opacity:30%
}

.box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  border-radius: 15px;
}

.card-title{
  height:7vh;
  text-align: center;
}

.gameimg{
  border-radius: 15px 15px 0 0;
}


.section-heading {
  /* font-family: "Dancing Script", cursive; */
  text-align: center;
  /* font-size: 64px; */
  margin: 0 0 70px;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.profile {
  position: relative;
  transition: all 0.3s;
  display:flex;
  align-items: center;
  padding:10px; 
  width: 450px; 
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 5px #f1faee;
  margin:10px 5px 10px 5px;
}
.Aboutme{
text-align: left;
}


.profile img {
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  margin: 3px 20px 3px 3px;

}

.userinfo{
  display:flex;
  flex-direction: column;
  align-items:flex-start;
}

.jollycoop {
  font-family: "Climate Crisis", cursive;
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #ff5722;
  animation: color-animation 5s linear infinite;

}

.jollyanimation1{
 --color-1: #ff5722;
 --color-2: #f9a825;
  --color-3:#eeff41;
}

.jollyanimation2{
  --color-1: #43a047;
  --color-2: #26c6da;
   --color-3:#ef3550;
 }

 .jollyanimation3{
  --color-1: #7e57c2;
  --color-2: #f48fb1;
   --color-3:#2196f3
 }

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }
  32% {
    color: var(--color-2);
  }
  33% {
    color: var(--color-3)
  }
  50% {
    color: var(--color-1)  }
  60% {
    color: var(--color-2);
  }
  70% {
    color: var(--color-3)
  }
  80% {
    color: var(--color-1)
  }
  90% {
    color: var(--color-2);
  }
  100%{
    color: var(--color-3)
  }
}

.futureevent:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  /* background: none; */
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  width:max-content
  }

  