.search-page{
    display:flex;
    flex-direction: column;
    align-items: start;
    margin:15px;
    justify-content:space-around;
    min-height: 50vh;
    align-items: stretch;
}
/* Title */
.group-title{
   text-align: center;
   margin:15px;

}
/* search */
.hide{
    display: none;
}
.Search{
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 15px;
    padding: 25px;
    max-width: 600px;
    min-width: 300px;
    height: 500px;
    background-color: #BCF8EC;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(186, 119, 119); 
}

.Search h3{
    border-bottom: 2px solid black;
}

.main{
    display: flex;
    justify-content: center;
    max-width: 925px;
    align-items: center;
    margin: auto;
    
    
}
/* aside shown card */

.Group-Name{
    display: flex;
    padding: 25px;
    float: right;
    background-color: #FFD046;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(186, 119, 119);
    position: relative;
}

.Group-Name h3{
    padding-right:15px;
}

.Group-Card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    min-width: 300px;
    padding: 25px;
    float: right;
    background-color: #F0E2E7;
    margin-right: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(186, 119, 119);

}
.Group-Card h3{
    overflow-y: auto;
}
.Group-Card h3{
    border-bottom: 2px solid black;
}
.options{
    display: flex;
    padding-bottom: 10px;
    padding-right: 15px;
    align-items: center;
    z-index: 0;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.add-users{
    height: 40px;
    width: 40px;
    margin: 5px;
    text-decoration: none;
    border: 5px solid rgb(212, 100, 100);
    transition: all 0.5s ease;
    background-color:rgb(212, 100, 100) ;
    border-radius: 50%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    color:white;
    
}
.add-users:hover{
    height: 40px;
    width: 40px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid #43a047;
    transition: all 0.5s ease;
    background-color: #43a047;
    border-radius: 50%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    color:white;
    
}
.delete-users{
    height: 40px;
    width: 40px;
    margin: 5px;
    text-decoration: none;
    border: 5px solid #43a047;
    transition: all 0.5s ease;
    background-color:#43a047 ;
    border-radius: 50%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    color:white;
    

}
.delete-users:hover{
    height: 40px;
    width: 40px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid rgb(212, 100, 100);
    transition: all 0.5s ease;
    background-color: rgb(212, 100, 100);
    border-radius: 50%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    color:white;
}

.add-list{
  height: 250px;
  width: auto;
  /* overflow-y:auto;
  scroll-snap-align:unset; */
  /* border: 1px solid #43a047; */
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(186, 119, 119);
  transition: all 0.5s ease;
  z-index: 5000;
  position: relative;
  margin-bottom: 50px;

}
.add-list:hover{
  height: 400px;
  width: auto;
  overflow-y:auto;
  scroll-snap-align:unset;
  background-color: #F0E2E7 ;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(186, 119, 119);
  z-index: 5000;

}

@media screen and (max-width:920px) {
    .main {
        
        display: inline-flex;
        

    }
}