@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script&display=swap");


.titlecontainer{
    display: flex;
    flex-wrap: wrap;
    padding:0 150px 0 150px;

    
}

.titlecontainer h1{
  font-size: 500%;
      margin: 50px 0 50px 0;
}

.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #131200;
    
}

.offcanvasBody{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding:0;
  margin:0;
}

.offcanvasprofile{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  margin:0;
}

.offcanvasBodyLink1{
  background-color: #F0E2E7 ;
  padding:22px;
  text-decoration: 0;
  color:#131200;
  font-size: 18px;
  transition: all 0.3s ease 0s;
  }

  .example_e:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    }

  .offcanvasBodyLink2{
    background-color: #FFD046;
    padding:22px;
    text-decoration: 0;
    color:#131200; 
    font-size: 20px;
    }

    .offcanvasBodyLink3{
      background-color: #A663CC;
      padding:22px;
      text-decoration: 0;
      color:#131200;
      font-size: 20px;
      transition: all 0.5s;
      position: relative;
      }

      .offcanvasBodyLink4{
        background-color: #BCF8EC;
        padding:22px;
        text-decoration: 0;
        color:#131200;
        font-size: 20px
        }

.offcanvasFooter{
  display: flex;
  justify-content: space-around;
  padding:10px 60px 10px 60px;

}

.jollycoopfontcolor1{
    color: #ff5722;;
  }

.jollycoopfont{
    position: relative;
    font-family: 'Climate Crisis', cursive;
    text-align: center;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    animation: color-animation 5s linear infinite;
  }

  .jollyanimation1{
    --color-1: #ff5722;
    --color-2: #f9a825;
     --color-3:#eeff41;
   }
   
   .jollyanimation2{
     --color-1: #43a047;
     --color-2: #26c6da;
      --color-3:#ef3550;
    }
   
    .jollyanimation3{
     --color-1: #7e57c2;
     --color-2: #f48fb1;
      --color-3:#2196f3
    }
   
   @keyframes color-animation {
     0% {
       color: var(--color-1)
     }
     32% {
       color: var(--color-2);
     }
     33% {
       color: var(--color-3)
     }
     50% {
       color: var(--color-1)  }
     60% {
       color: var(--color-2);
     }
     70% {
       color: var(--color-3)
     }
     80% {
       color: var(--color-1)
     }
     90% {
       color: var(--color-2);
     }
     100%{
       color: var(--color-3)
     }
   }

.titlename:hover{
    top:20px
}

.button-74 {
  background-color: #ff5722;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right:20px
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


