@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script&display=swap");


:root {--buttonCol: #ec5e5e;
}
/* body {
    background-image: url("../../images/rainbow.jpg");
} */

.titlecontainer{
    display: flex;
    flex-wrap: wrap;
}

.titlecontainer h1{
  font-size: 500%;
      margin: 50px 0 50px 0;
}

.Navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.NavbarBtnContainer{
padding-right: 1px;
display: flex;
flex-wrap: wrap;
}

.jollycoopfontcolor1{
    color: #ff5722;;
  }

.jollycoopfont{
    position: relative;
    font-family: 'Climate Crisis', cursive;
    text-align: center;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  }

.titlename:hover{
    top:20px
}

.button-74 {
  background-color: #ff5722;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right:20px
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
