@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Dancing+Script&display=swap");

.footer {
    display: flex;

    align-items: start;
    bottom:0vh
}
.footercontainer{
    display: flex;
    font-size: 50%;
    margin-top: 50px;
}

.footerul{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;
}

