
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

/* body {
  font-family: 'Titillium Web', cursive;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: #222;
  font-weight: 100;
} */

#timer{
  display: flex;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
  background-color: #f6da74;
  border-radius: 15px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#timer div{
  padding: 30px;
}

#timer h1{
  font-family: 'Titillium Web', cursive;
}

span {
  display: block;
  font-size: 20px;
}

#days {
  font-size: 100px;
  color: #db4844;
}
#hours {
  font-size: 100px;
  color: #f07c22;
}
#minutes {
  font-size: 100px;
  color: #7e57c2;
}
#seconds {
  font-size: 50px;
  color: #abcd58;
}